* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../img/img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    padding: 2rem 4rem;
    max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

h1 {
    color: #fff;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
}

.button-container {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #ff4747;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #f00;
}