* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html {
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border-radius: 10px;
    margin: 4rem 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    color: #eee;
}

input[type="text"],
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4747;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f00;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
}